[submodule "templates/Beamer"]
	path = templates/Beamer
	url = https://git.overleaf.com/5d9f00a4c26c8600014c11f5
[submodule "templates/Thesis"]
	path = templates/Thesis
	url = https://git.overleaf.com/5ddf8523ca12e4000189930e
[submodule "templates/legacy templates on Overleaf/Beamer"]
	path = templates/legacy templates on Overleaf/Beamer
	url = https://git.overleaf.com/5cd40702e8b026286ffe8ef2
[submodule "templates/legacy templates on Overleaf/Cover"]
	path = templates/legacy templates on Overleaf/Cover
	url = https://git.overleaf.com/5cdbf9e5d0b38c095359ef11
[submodule "templates/legacy templates on Overleaf/Letter"]
	path = templates/legacy templates on Overleaf/Letter
	url = https://git.overleaf.com/5cdbfd8ad0b38c095359f23d
[submodule "templates/legacy templates on Overleaf/Poster"]
	path = templates/legacy templates on Overleaf/Poster
	url = https://git.overleaf.com/5cdbfe86d0b38c095359f3c7
